<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>practice restaurant project</display-name>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>epam.eremenko.restaurant.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Restaurant</servlet-name>
        <jsp-file>/WEB-INF/view/restaurant.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Restaurant</servlet-name>
        <url-pattern>/restaurant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <jsp-file>/WEB-INF/view/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/authorization</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuRegister</servlet-name>
        <jsp-file>/WEB-INF/view/menuRegister.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuRegister</servlet-name>
        <url-pattern>/menuRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <jsp-file>/WEB-INF/view/menu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>epam.eremenko.restaurant.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>EntryFilter</display-name>
        <filter-name>EntryFilter</filter-name>
        <filter-class>epam.eremenko.restaurant.filter.EntryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EntryFilter</filter-name>
        <url-pattern>/menuRegister</url-pattern>
    </filter-mapping>
</web-app>
